

.manager{
    background:#ffffff;
 
    display:flex;
    box-shadow:   0 0 2px 1px rgba(136, 132, 132, 0.12);
    margin-bottom: 1.5rem;
 
    img{
    
        height: 136px;
    }
    ul{
        padding:  1rem 1rem 0;
    }
    li{
        margin: 0.5rem 0;
        color:#acb3bf;
    }
    li:nth-child(1){
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color:#0c343d;
    }
}
