.navbar{
    padding:1rem;
    box-shadow: 0 0 3px 0 grey;;
    ul{
        display:flex;
        justify-content: space-between;
    }
    a{
        color:rgb(82, 99, 114);
        text-decoration: none;
    }
}